@media(max-width:1450px) {
  .main{
      padding-left: 15rem !important;
      padding-right: 15rem !important;

    }
}
@media(max-width:1136px) {
  .main{
      padding-left: 10rem !important;
      padding-right: 10rem !important;

    }
}
@media(max-width:950px) {
  .main{
      padding-left: 5rem !important;
      padding-right: 5rem !important;

    }
}

.section1 h1 {
  overflow: visible;
  margin-top: 0;
  margin-bottom: 32px;
  margin-left: -6px;
  color: #fff;
  font-size: 90.4px;
  line-height: 96px;
  font-weight: 500;
  font-family: Ppneuemontreal, sans-serif;
}

.section1 p {
  font-size: 1.2rem;
  font-family: Ppneuemontreal, sans-serif;
  color: #fff;
  margin-bottom: 0;
  line-height: 1.5rem;
}

.imagecontainer {
  position: relative;
  top: 0;
  overflow: hidden;
}

.lifestyleimage {
  position: relative;
  z-index: 1;
}

.impactchart {
  position: absolute;
  top: 50px;
  left: 440px;
  z-index: 2;
}

.categorycard {
  position: absolute;
  top: 250px;
  left: 660px;
  z-index: 3;
}

.emissionscard {
  position: absolute;
  top: 340px;
  left: 300px;
  z-index: 4;
}


